/* Setting background image */

body {
    background-image: url(https://images.unsplash.com/photo-1484506097116-1bcba4fa7568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Insures entire element is always covered */
    background-size: cover;
    padding: 20px;
}

/* Centering main body for quiz and setting background to white */
.col-md-8 {
    background: white;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

/* ----------------------------------------------- */
/* Specific styling for index.html */

/* Aligning View Highscores to the left */
.alignleft {
    float: left;
    width: 80%;
}

/* Aligning Timer to the right and centering text */
.alignright {
    float: right;
    text-align: center;
    width: 20%;
    background-color: yellow;
    border: 1px solid black;
}

/* Centering section for start page */
.aligncenter {
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
}

/* Aligning content for quiz (index.html) & highscores (highscores.html) */
.question-align, .scores-align {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
}

/* ----------------------------------------------- */
/* Specific styling for highscores.html */

/* Adding margin to bottom of div element */
.scores-align div {
    margin-bottom: 20px;
}

/* Adding margin to right of buttons  */
.scores-align button {
    margin-right: 8px;
    margin-bottom: 8px;
}

/* ---------------------------------------------------------------- */
/* Devices 500px and down; ensuring Timer Clock stays on one line */
@media only screen and (max-width: 505px) {
    .alignleft {
        float: left;
        width: 60%;
    }
    
    .alignright {
        float: left;
        text-align: center;
        width: 40%;
        background-color: yellow;
        border: 1px solid black;
    }
  }

/* Devices between 500px and up; ensuring Timer clock stays on one line */
@media only screen and (min-width: 505px) {
    .alignleft {
        float: left;
        width: 75%;
    }
    
    .alignright {
        float: right;
        text-align: center;
        width: 25%;
        background-color: yellow;
        border: 1px solid black;
    }
  }